//This looks real messy, but I promise it makes great sense!

//Color util classes
.transparent {--c: transparent;}
.bg-transparent {--bg: transparent;}
.bg-none {--bg: none;}

.white {--c: #{$white};}
.bg-white {--bg: #{$white};}
.gray {--c: #{$gray};}
.bg-gray {--bg: #{$gray};}
.gray-50 {--c: #{$gray-50};}
.bg-gray-50 {--bg: #{$gray-50};}
.gray-100 {--c: #{$gray-100};}
.bg-gray-100 {--bg: #{$gray-100};}
.gray-200 {--c: #{$gray-200};}
.bg-gray-200 {--bg: #{$gray-200};}
.gray-300 {--c: #{$gray-300};}
.bg-gray-300 {--bg: #{$gray-300};}
.gray-400 {--c: #{$gray-400};}
.bg-gray-400 {--bg: #{$gray-400};}
.gray-500 {--c: #{$gray-500};}
.bg-gray-500 {--bg: #{$gray-500};}
.gray-600 {--c: #{$gray-600};}
.bg-gray-600 {--bg: #{$gray-600};}
.gray-700 {--c: #{$gray-700};}
.bg-gray-700 {--bg: #{$gray-700};}
.gray-800 {--c: #{$gray-800};}
.bg-gray-800 {--bg: #{$gray-800};}
.gray-900 {--c: #{$gray-900};}
.bg-gray-900 {--bg: #{$gray-900};}
.gray-1000 {--c: #{$gray-1000};}
.bg-gray-1000 {--bg: #{$gray-1000};}
.black {--c: #{$black};}
.bg-black {--bg: #{$black};}

.red {--c: #{$red};}
.bg-red {--bg: #{$red};}
.red-50 {--c: #{$red-50};}
.bg-red-50 {--bg: #{$red-50};}
.red-100 {--c: #{$red-100};}
.bg-red-100 {--bg: #{$red-100};}
.red-200 {--c: #{$red-200};}
.bg-red-200 {--bg: #{$red-200};}
.red-300 {--c: #{$red-300};}
.bg-red-300 {--bg: #{$red-300};}
.red-400 {--c: #{$red-400};}
.bg-red-400 {--bg: #{$red-400};}
.red-500 {--c: #{$red-500};}
.bg-red-500 {--bg: #{$red-500};}
.red-600 {--c: #{$red-600};}
.bg-red-600 {--bg: #{$red-600};}
.red-700 {--c: #{$red-700};}
.bg-red-700 {--bg: #{$red-700};}
.red-800 {--c: #{$red-800};}
.bg-red-800 {--bg: #{$red-800};}
.red-900 {--c: #{$red-900};}
.bg-red-900 {--bg: #{$red-900};}

.orange {--c: #{$orange};}
.bg-orange {--bg: #{$orange};}
.orange-50 {--c: #{$orange-50};}
.bg-orange-50 {--bg: #{$orange-50};}
.orange-100 {--c: #{$orange-100};}
.bg-orange-100 {--bg: #{$orange-100};}
.orange-200 {--c: #{$orange-200};}
.bg-orange-200 {--bg: #{$orange-200};}
.orange-300 {--c: #{$orange-300};}
.bg-orange-300 {--bg: #{$orange-300};}
.orange-400 {--c: #{$orange-400};}
.bg-orange-400 {--bg: #{$orange-400};}
.orange-500 {--c: #{$orange-500};}
.bg-orange-500 {--bg: #{$orange-500};}
.orange-600 {--c: #{$orange-600};}
.bg-orange-600 {--bg: #{$orange-600};}
.orange-700 {--c: #{$orange-700};}
.bg-orange-700 {--bg: #{$orange-700};}
.orange-800 {--c: #{$orange-800};}
.bg-orange-800 {--bg: #{$orange-800};}
.orange-900 {--c: #{$orange-900};}
.bg-orange-900 {--bg: #{$orange-900};}

.yellow {--c: #{$yellow};}
.bg-yellow {--bg: #{$yellow};}
.yellow-50 {--c: #{$yellow-50};}
.bg-yellow-50 {--bg: #{$yellow-50};}
.yellow-100 {--c: #{$yellow-100};}
.bg-yellow-100 {--bg: #{$yellow-100};}
.yellow-200 {--c: #{$yellow-200};}
.bg-yellow-200 {--bg: #{$yellow-200};}
.yellow-300 {--c: #{$yellow-300};}
.bg-yellow-300 {--bg: #{$yellow-300};}
.yellow-400 {--c: #{$yellow-400};}
.bg-yellow-400 {--bg: #{$yellow-400};}
.yellow-500 {--c: #{$yellow-500};}
.bg-yellow-500 {--bg: #{$yellow-500};}
.yellow-600 {--c: #{$yellow-600};}
.bg-yellow-600 {--bg: #{$yellow-600};}
.yellow-700 {--c: #{$yellow-700};}
.bg-yellow-700 {--bg: #{$yellow-700};}
.yellow-800 {--c: #{$yellow-800};}
.bg-yellow-800 {--bg: #{$yellow-800};}
.yellow-900 {--c: #{$yellow-900};}
.bg-yellow-900 {--bg: #{$yellow-900};}

.green {--c: #{$green};}
.bg-green {--bg: #{$green};}
.green-50 {--c: #{$green-50};}
.bg-green-50 {--bg: #{$green-50};}
.green-100 {--c: #{$green-100};}
.bg-green-100 {--bg: #{$green-100};}
.green-200 {--c: #{$green-200};}
.bg-green-200 {--bg: #{$green-200};}
.green-300 {--c: #{$green-300};}
.bg-green-300 {--bg: #{$green-300};}
.green-400 {--c: #{$green-400};}
.bg-green-400 {--bg: #{$green-400};}
.green-500 {--c: #{$green-500};}
.bg-green-500 {--bg: #{$green-500};}
.green-600 {--c: #{$green-600};}
.bg-green-600 {--bg: #{$green-600};}
.green-700 {--c: #{$green-700};}
.bg-green-700 {--bg: #{$green-700};}
.green-800 {--c: #{$green-800};}
.bg-green-800 {--bg: #{$green-800};}
.green-900 {--c: #{$green-900};}
.bg-green-900 {--bg: #{$green-900};}

.mint {--c: #{$mint};}
.bg-mint {--bg: #{$mint};}
.mint-50 {--c: #{$mint-50};}
.bg-mint-50 {--bg: #{$mint-50};}
.mint-100 {--c: #{$mint-100};}
.bg-mint-100 {--bg: #{$mint-100};}
.mint-200 {--c: #{$mint-200};}
.bg-mint-200 {--bg: #{$mint-200};}
.mint-300 {--c: #{$mint-300};}
.bg-mint-300 {--bg: #{$mint-300};}
.mint-400 {--c: #{$mint-400};}
.bg-mint-400 {--bg: #{$mint-400};}
.mint-500 {--c: #{$mint-500};}
.bg-mint-500 {--bg: #{$mint-500};}
.mint-600 {--c: #{$mint-600};}
.bg-mint-600 {--bg: #{$mint-600};}
.mint-700 {--c: #{$mint-700};}
.bg-mint-700 {--bg: #{$mint-700};}
.mint-800 {--c: #{$mint-800};}
.bg-mint-800 {--bg: #{$mint-800};}
.mint-900 {--c: #{$mint-900};}
.bg-mint-900 {--bg: #{$mint-900};}

.teal {--c: #{$teal};}
.bg-teal {--bg: #{$teal};}
.teal-50 {--c: #{$teal-50};}
.bg-teal-50 {--bg: #{$teal-50};}
.teal-100 {--c: #{$teal-100};}
.bg-teal-100 {--bg: #{$teal-100};}
.teal-200 {--c: #{$teal-200};}
.bg-teal-200 {--bg: #{$teal-200};}
.teal-300 {--c: #{$teal-300};}
.bg-teal-300 {--bg: #{$teal-300};}
.teal-400 {--c: #{$teal-400};}
.bg-teal-400 {--bg: #{$teal-400};}
.teal-500 {--c: #{$teal-500};}
.bg-teal-500 {--bg: #{$teal-500};}
.teal-600 {--c: #{$teal-600};}
.bg-teal-600 {--bg: #{$teal-600};}
.teal-700 {--c: #{$teal-700};}
.bg-teal-700 {--bg: #{$teal-700};}
.teal-800 {--c: #{$teal-800};}
.bg-teal-800 {--bg: #{$teal-800};}
.teal-900 {--c: #{$teal-900};}
.bg-teal-900 {--bg: #{$teal-900};}

.cyan {--c: #{$cyan};}
.bg-cyan {--bg: #{$cyan};}
.cyan-50 {--c: #{$cyan-50};}
.bg-cyan-50 {--bg: #{$cyan-50};}
.cyan-100 {--c: #{$cyan-100};}
.bg-cyan-100 {--bg: #{$cyan-100};}
.cyan-200 {--c: #{$cyan-200};}
.bg-cyan-200 {--bg: #{$cyan-200};}
.cyan-300 {--c: #{$cyan-300};}
.bg-cyan-300 {--bg: #{$cyan-300};}
.cyan-400 {--c: #{$cyan-400};}
.bg-cyan-400 {--bg: #{$cyan-400};}
.cyan-500 {--c: #{$cyan-500};}
.bg-cyan-500 {--bg: #{$cyan-500};}
.cyan-600 {--c: #{$cyan-600};}
.bg-cyan-600 {--bg: #{$cyan-600};}
.cyan-700 {--c: #{$cyan-700};}
.bg-cyan-700 {--bg: #{$cyan-700};}
.cyan-800 {--c: #{$cyan-800};}
.bg-cyan-800 {--bg: #{$cyan-800};}
.cyan-900 {--c: #{$cyan-900};}
.bg-cyan-900 {--bg: #{$cyan-900};}

.blue {--c: #{$blue};}
.bg-blue {--bg: #{$blue};}
.blue-50 {--c: #{$blue-50};}
.bg-blue-50 {--bg: #{$blue-50};}
.blue-100 {--c: #{$blue-100};}
.bg-blue-100 {--bg: #{$blue-100};}
.blue-200 {--c: #{$blue-200};}
.bg-blue-200 {--bg: #{$blue-200};}
.blue-300 {--c: #{$blue-300};}
.bg-blue-300 {--bg: #{$blue-300};}
.blue-400 {--c: #{$blue-400};}
.bg-blue-400 {--bg: #{$blue-400};}
.blue-500 {--c: #{$blue-500};}
.bg-blue-500 {--bg: #{$blue-500};}
.blue-600 {--c: #{$blue-600};}
.bg-blue-600 {--bg: #{$blue-600};}
.blue-700 {--c: #{$blue-700};}
.bg-blue-700 {--bg: #{$blue-700};}
.blue-800 {--c: #{$blue-800};}
.bg-blue-800 {--bg: #{$blue-800};}
.blue-900 {--c: #{$blue-900};}
.bg-blue-900 {--bg: #{$blue-900};}

.indigo {--c: #{$indigo};}
.bg-indigo {--bg: #{$indigo};}
.indigo-50 {--c: #{$indigo-50};}
.bg-indigo-50 {--bg: #{$indigo-50};}
.indigo-100 {--c: #{$indigo-100};}
.bg-indigo-100 {--bg: #{$indigo-100};}
.indigo-200 {--c: #{$indigo-200};}
.bg-indigo-200 {--bg: #{$indigo-200};}
.indigo-300 {--c: #{$indigo-300};}
.bg-indigo-300 {--bg: #{$indigo-300};}
.indigo-400 {--c: #{$indigo-400};}
.bg-indigo-400 {--bg: #{$indigo-400};}
.indigo-500 {--c: #{$indigo-500};}
.bg-indigo-500 {--bg: #{$indigo-500};}
.indigo-600 {--c: #{$indigo-600};}
.bg-indigo-600 {--bg: #{$indigo-600};}
.indigo-700 {--c: #{$indigo-700};}
.bg-indigo-700 {--bg: #{$indigo-700};}
.indigo-800 {--c: #{$indigo-800};}
.bg-indigo-800 {--bg: #{$indigo-800};}
.indigo-900 {--c: #{$indigo-900};}
.bg-indigo-900 {--bg: #{$indigo-900};}

.purple {--c: #{$purple};}
.bg-purple {--bg: #{$purple};}
.purple-50 {--c: #{$purple-50};}
.bg-purple-50 {--bg: #{$purple-50};}
.purple-100 {--c: #{$purple-100};}
.bg-purple-100 {--bg: #{$purple-100};}
.purple-200 {--c: #{$purple-200};}
.bg-purple-200 {--bg: #{$purple-200};}
.purple-300 {--c: #{$purple-300};}
.bg-purple-300 {--bg: #{$purple-300};}
.purple-400 {--c: #{$purple-400};}
.bg-purple-400 {--bg: #{$purple-400};}
.purple-500 {--c: #{$purple-500};}
.bg-purple-500 {--bg: #{$purple-500};}
.purple-600 {--c: #{$purple-600};}
.bg-purple-600 {--bg: #{$purple-600};}
.purple-700 {--c: #{$purple-700};}
.bg-purple-700 {--bg: #{$purple-700};}
.purple-800 {--c: #{$purple-800};}
.bg-purple-800 {--bg: #{$purple-800};}
.purple-900 {--c: #{$purple-900};}
.bg-purple-900 {--bg: #{$purple-900};}

.pink {--c: #{$pink};}
.bg-pink {--bg: #{$pink};}
.pink-50 {--c: #{$pink-50};}
.bg-pink-50 {--bg: #{$pink-50};}
.pink-100 {--c: #{$pink-100};}
.bg-pink-100 {--bg: #{$pink-100};}
.pink-200 {--c: #{$pink-200};}
.bg-pink-200 {--bg: #{$pink-200};}
.pink-300 {--c: #{$pink-300};}
.bg-pink-300 {--bg: #{$pink-300};}
.pink-400 {--c: #{$pink-400};}
.bg-pink-400 {--bg: #{$pink-400};}
.pink-500 {--c: #{$pink-500};}
.bg-pink-500 {--bg: #{$pink-500};}
.pink-600 {--c: #{$pink-600};}
.bg-pink-600 {--bg: #{$pink-600};}
.pink-700 {--c: #{$pink-700};}
.bg-pink-700 {--bg: #{$pink-700};}
.pink-800 {--c: #{$pink-800};}
.bg-pink-800 {--bg: #{$pink-800};}
.pink-900 {--c: #{$pink-900};}
.bg-pink-900 {--bg: #{$pink-900};}

.brown {--c: #{$brown};}
.bg-brown {--bg: #{$brown};}
.brown-50 {--c: #{$brown-50};}
.bg-brown-50 {--bg: #{$brown-50};}
.brown-100 {--c: #{$brown-100};}
.bg-brown-100 {--bg: #{$brown-100};}
.brown-200 {--c: #{$brown-200};}
.bg-brown-200 {--bg: #{$brown-200};}
.brown-300 {--c: #{$brown-300};}
.bg-brown-300 {--bg: #{$brown-300};}
.brown-400 {--c: #{$brown-400};}
.bg-brown-400 {--bg: #{$brown-400};}
.brown-500 {--c: #{$brown-500};}
.bg-brown-500 {--bg: #{$brown-500};}
.brown-600 {--c: #{$brown-600};}
.bg-brown-600 {--bg: #{$brown-600};}
.brown-700 {--c: #{$brown-700};}
.bg-brown-700 {--bg: #{$brown-700};}
.brown-800 {--c: #{$brown-800};}
.bg-brown-800 {--bg: #{$brown-800};}
.brown-900 {--c: #{$brown-900};}
.bg-brown-900 {--bg: #{$brown-900};}