.pass {
  all: inherit;
  display: contents;
}

.text-wrap {white-space: normal;}
.text-nowrap {white-space: nowrap;}

.fade {opacity: .5;}
.shadow {
  position: relative;
  z-index: 1; //Default to 1 above surrounding content. This might not be a universal solution though.
  box-shadow: 0 5px 12px -6px black(.5); //Shadow is always toward the dark, even in dark mode.
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 1;
}
.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.m-0 {margin: 0}

.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}