.achievements {
  inset: 0;
  pointer-events: none;
  position: fixed; /* change to fixed to make it relative to the viewport */
  z-index: 100;
  top: 10px; /* adjust based on your UI requirements */
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* aligns items to the left */
}

.achievement {
  background: var(--blue);
  border-radius: 99em;
  box-shadow: 0px 0px 24px 0px var(--blue);
  color: white;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 4px 0; /* add some vertical space between achievements */
  overflow: hidden;
  padding: 4px 8px 4px 4px;
  white-space: nowrap;
}

.achievement-icon {
  flex: 0 0 auto;
  display: flex;
  padding: 2px;
  border-radius: 99em;
  border: 2px solid white;
}

.achievement-notification {
  animation-name: dip;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border: 1px solid var(--gray-500);
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  width: 260px;
}

@keyframes dip {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
    animation-timing-function: cubic-bezier(0.34, 1.82, 0.35, 1);
  }

  20%,
  80% {
    opacity: 1;
    transform: translate(-50%, 0%);
    animation-timing-function: cubic-bezier(0.75, -0.01, 1, 0.66);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}