.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: content;
  width: 100%;
  background-color: var(--surface-primary);
  // border: 2px solid red;
  padding: var(--space-8);
  border-radius: var(--radius-16)
}