.sliderContainer {
    width: 100%;
    padding: var(--space-8);
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: var(--space-4);
    background: var(--surface-secondary);
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    border-radius: var(--radius-16);
  
    &:hover {
      opacity: 1;
    }
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: var(--space-8);
      height: var(--space-8);
      background: var(--surface-brand-blue);
      cursor: pointer;
      border-radius: 50%;
    }
  
    &::-moz-range-thumb {
      width: var(--space-8);
      height: var(--space-8);
      background: var(--surface-brand-blue);
      cursor: pointer;
      border-radius: 50%;
    }
  }