:root {
  --surface-brand-red: #{$surface-brand-red};
  --surface-brand-orange: #{$surface-brand-orange};
  --surface-brand-green: #{$surface-brand-green};
  --surface-brand-mint: #{$surface-brand-mint};
  --surface-brand-cyan: #{$surface-brand-cyan};
  --surface-brand-blue: #{$surface-brand-blue};
  --surface-brand-indigo: #{$surface-brand-indigo};
  --surface-brand-purple: #{$surface-brand-purple};
  --surface-brand-pink: #{$surface-brand-pink};
  --surface-brand-brown: #{$surface-brand-brown};
  --color-grey-systemGrayAccessibleLight: #{$color-grey-systemGrayAccessibleLight};
}