.pageBody {
    color: white;
}

.container {
    background-color: var(--surface-primary);
    border-radius: 15px;
    color: var(--white);
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 8px;
    padding-bottom: 50px;
    gap: 10px;
    width: 100%;
}

.title {
    font-size: 1.6em;
}

.text {
    font-size: 1.4em;
    word-wrap: break-word;
    margin-bottom: 0.5em;
}

.container h3 {
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.48px;
    margin-top: 0;
    margin-bottom: 4px;
}

.logoContainer {
    padding: 1rem
}


@media (max-width: 992px) {
    .logoContainer {
        display: none;
    }
}

