:root {
  // Spacing variables
  --space-xxs: #{$space-xxs};
  --space-xs: #{$space-xs};
  --space-sm: #{$space-sm};
  --space-md: #{$space-md};
  --space-lg: #{$space-lg};
  --space-xl: #{$space-xl};
  --space-xxl: #{$space-xxl};
  --space-3xl: #{$space-3xl};
  --space-4xl: #{$space-4xl};
  --space-5xl: #{$space-5xl};
  --space-6xl: #{$space-6xl};
  --space-7xl: #{$space-7xl};
  --space-8xl: #{$space-8xl};

  // Radius variables
  --radius-xs: #{$radius-xs};
  --radius-sm: #{$radius-sm};
  --radius-md: #{$radius-md};
  --radius-lg: #{$radius-lg};
  --radius-xl: #{$radius-xl};
  --radius-xxl: #{$radius-xxl};
  --radius-3xl: #{$radius-3xl};
}

html {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fixfood-logo {
  padding: 15%;
  margin: auto;
}

.fixfood-logo svg {
  width: 100%;
  height: auto;
}
