//COLOR TOKENS
$surface-primary-dark: #242426;
$surface-secondary-dark: #1c1c1e;
//Light
$surface-primary-light: #EBEBF0;
$surface-secondary-light: #F2F2F7;

//universal
$surface-brand-red: #ff3b2f;
$surface-brand-orange: #FF9500;
$surface-brand-green: #34C759;
$surface-brand-mint: #00C7BE;
$surface-brand-cyan: #32ADE6;
$surface-brand-blue: #0070FF;
$surface-brand-indigo: #5856D6;
$surface-brand-purple: #AF52DE;
$surface-brand-pink: #FF2D55;
$surface-brand-brown: #A2845E;
$color-grey-systemGrayAccessibleLight: #6C6C70;


// TEXT COLORS
// Dark
$text-primary-dark: #FFFFFF;
$text-secondary-dark: #AEAFB2;
//light
$text-primary-light: #242426;
$text-secondary-light: #6C6C70;

//Universal
$text-act-highlight: #FF9F0B;
$text-actor-highlight: #409CFF;
$text-skill-label: #FFFFFF;
$button-text: #FFFFFF;


//SPACING TOKENS

$space-xxs: 2px; 
$space-xs: 4px;
$space-sm: 8px; 
$space-md: 16px; 
$space-lg: 24px; 
$space-xl: 32px; 
$space-xxl: 40px;
$space-3xl: 48px; 
$space-4xl: 64px; 
$space-5xl: 80px;
$space-6xl: 88px;
$space-7xl: 96px;
$space-8xl: 104px;

//RADIUS TOKENS
$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;
$radius-xl: 24px;
$radius-xxl: 32px;
$radius-3xl: 128px;
