//COLOR TOKENS
$surface-primary-dark: #242426;
$surface-secondary-dark: #1c1c1e;
//Light
$surface-primary-light: #EBEBF0;
$surface-secondary-light: #F2F2F7;

//universal
$surface-brand-red: #ff3b2f;
$surface-brand-orange: #FF9500;
$surface-brand-green: #34C759;
$surface-brand-mint: #00C7BE;
$surface-brand-cyan: #32ADE6;
$surface-brand-blue: #0070FF;
$surface-brand-indigo: #5856D6;
$surface-brand-purple: #AF52DE;
$surface-brand-pink: #FF2D55;
$surface-brand-brown: #A2845E;
$color-grey-systemGrayAccessibleLight: #6C6C70;


// TEXT COLORS
// Dark
$text-primary-dark: #FFFFFF;
$text-secondary-dark: #AEAFB2;
//light
$text-primary-light: #242426;
$text-secondary-light: #6C6C70;

//Universal
$text-act-highlight: #FF9F0B;
$text-actor-highlight: #409CFF;
$text-skill-label: #FFFFFF;
$button-text: #FFFFFF;


//SPACING TOKENS

$space-2: 2px; // xxs
$space-4: 4px; // xs
$space-8: 8px; // sm
$space-16: 16px; // md
$space-24: 24px; // lg
$space-32: 32px; // xl
$space-40: 40px; // xxl
$space-48: 48px; // 3xl
$space-64: 64px; // 4xl
$space-80: 80px; // 5xl
$space-88: 88px; // 6xl
$space-96: 96px; // 7xl
$space-104: 104px; // 8xl

// RADIUS TOKENS
$radius-2: 2px; // xs
$radius-4: 4px; // sm
$radius-8: 8px; // md
$radius-16: 16px; // lg
$radius-24: 24px; // xl
$radius-32: 32px; // xxl
$radius-128: 128px; // 3xl
