//COLOR TOKENS
$surface-primary-dark: #242426;
$surface-secondary-dark: #1c1c1e;
//Light
$surface-primary-light: #ebebf0;
$surface-secondary-light: #f2f2f7;

//universal
$surface-brand-red: #ff3b2f;
$surface-brand-orange: #ff9500;
$surface-brand-orange-dark: #ffa654;
$surface-brand-orange-medium: #ffc794;
$surface-brand-orange-light: #fff3e8;
$surface-brand-green: #34c759;
$surface-brand-mint: #00c7be;
$surface-brand-cyan: #32ade6;
$surface-brand-blue: #0070ff;
$surface-brand-indigo: #5856d6;
$surface-brand-purple: #af52de;
$surface-brand-pink: #ff2d55;
$surface-brand-brown: #a2845e;
$color-grey-systemGrayAccessibleLight: #6c6c70;

// TEXT COLORS
// Dark
$text-primary-dark: #ffffff;
$text-secondary-dark: #aeafb2;
//light
$text-primary-light: #242426;
$text-secondary-light: #6c6c70;

//Universal
$text-act-highlight: #ff9f0b;
$text-actor-highlight: #409cff;
$text-skill-label: #ffffff;
$button-text: #ffffff;

$color-black: #000000;
$color-white: #ffffff;
//SPACING TOKENS

$space-2: 2px; // xxs
$space-4: 4px; // xs
$space-8: 8px; // sm
$space-16: 16px; // md
$space-24: 24px; // lg
$space-32: 32px; // xl
$space-40: 40px; // xxl
$space-48: 48px; // 3xl
$space-64: 64px; // 4xl
$space-80: 80px; // 5xl
$space-88: 88px; // 6xl
$space-96: 96px; // 7xl
$space-104: 104px; // 8xl

// RADIUS TOKENS
$radius-2: 2px; // xs
$radius-4: 4px; // sm
$radius-8: 8px; // md
$radius-16: 16px; // lg
$radius-24: 24px; // xl
$radius-32: 32px; // xxl
$radius-128: 128px; // 3xl
