input {
  background-color: var(--gray-1000);
  font: inherit;
  text-decoration: none;
  white-space: nowrap;
  appearance: none;
  text-align: inherit;
  @include font-button();
  display: inline-flex;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 7px;
  border: none;
  border-radius: 10px;
  // color: var(--button-c);
  // background: var(--button-bg);
  color: var(--c);
  background-color: var(--bg);
  background-clip: padding-box;
  box-shadow: inset 0 -4px 0 0 black(.2), inset 0 0 0 2px black(.2);
  --focus-accent: currentColor;
  outline-offset: -4px; //More outline offset because buttons have a thick border for effects

  * {pointer-events: none;} //Make sure click events are always emitted from the button itself.
}