// TODO: use this background color for the page or as a new theme
// background-color: var(--surface-brand-orange-light);

.scrollableContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  gap: var(--space-16);
  padding: var(--space-16);
  scrollbar-width: thin;
}

.staticContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--space-16);
  padding: var(--space-16);
  overflow-x: hidden;
  margin: 0 10em;
}

.card,
.cardOverlay,
.cardSelectedOverlay,
.cardImage,
.cardStack {
  border-radius: var(--radius-8);
  height: 25em;
}

.card {
  position: relative;
  width: 50%;
  cursor: pointer;
  background-color: var(--color-black);
  flex: 0 0 48%;
  width: 5em;
}

.cardTitle {
  position: absolute;
  top: 5%;
  z-index: 100;
  padding: 0.25em 1em 0.25em;
  background-color: var(--color-white);
  border-radius: 0 var(--radius-32) var(--radius-32) 0;

  p {
    font-size: 16px;
    color: var(--color-black);
  }
}

.cardButton {
  position: absolute;
  z-index: 100;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
  -ms-transform: translate(-50%, -5%);
  transform: translate(-50%, -5%);
  width: 4rem;
  height: 4rem;
  border-radius: var(--radius-32);
  background-color: var(--color-white);
}

.cardButtonIcon {
  stroke-width: 1.5;
  stroke: var(--color-black);
  fill: transparent;
  width: auto;
  height: 2.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cardImage {
  display: block;
  object-fit: cover;
  filter: brightness(60%);
}

.cardSelectedOverlay {
  position: absolute;
  z-index: 70;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  // opacity: 0;
  opacity: 1;
  transition: 0.5s ease;
  background-color: var(--surface-brand-orange);
}

.cardSelectedText {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-white);
  border: 0.3rem solid var(--color-white);
  border-radius: var(--radius-8);
  padding: 0.15rem 0.3rem;
  rotate: -15deg;
  text-transform: uppercase;
  font-family: "Omnes", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.4;
}

.cardStack {
  background-color: var(--color-white);
}

/* Active styles */
.card:active {
  filter: unset;
}

.card:active .cardSelectedOverlay {
  opacity: 0.5;
}

.card:active .cardSelectedText {
  opacity: 1;
}

.card:active .cardButtonIcon {
  stroke: var(--color-white);
}

.card:active .cardButton {
  background-color: var(--surface-brand-orange);
}
